<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
        <!--    <link rel="stylesheet" href="{% static "css/base.css" %}" /> </script>    links css in css dir-->
        <!--    <script src="{% static "js/jquery.js" %}"></script>     links javascript in js dir-->

    </head>
    <body>
        <div>
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>No pages currently in category.</strong>
            {% endif %}
            <a href="/rango/category/{{ category.slug }}/add_page/">Add Page</a> <br /><!-- after it checks if pages exist, and within if the category exists-->
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
    </body>
</html>